.about{
  width: 100vw;
  height: 100vh;
  background-color: #2E073F;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center; 
}

.about-me{
  display: flex; 
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  gap: 20px;
  /* gap: 4%; */
  /* background-color: aquamarine; */
}

.profile-image{
  height: 200px; 
  width: 220px;
  border-radius: 280px;
}

h1{
  color: #EBD3F8;
  font-size: 32px;
}

.desc{
  font-size: 18px;
  color: #EBD3F8;
  text-align: start;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description{
  display: flex; 
  flex-direction: column;
  justify-content: start; 
  align-items: start;
  width: 70%;
  gap: 25px; 
  /* background-color: aquamarine; */
}