.skill{
    min-height: 100vh; 
    height: auto;
    width: 100vw;
    margin: 0px; 
    gap: 50px;
    padding: 0px;
    background-color: #2E073F;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center; 
}


.skill-section{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 60vw; 
}

.skill-i{
    background-color: #7A1CAC;
    border-radius: 20px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 20px;
    height: 146px;
    margin: 0px;
    gap: 10px; 
    font-size: 20px;
    width: 143px;
    color: #EBD3F8;
}

.skill-i img{
    height: 100px; 
    width: 100px;
    padding-bottom: 0px;
}


.skill-i h4 {
    margin: 0px;
}


@media screen and (max-width: 1024px) {
    .skill-section {
        max-width: 90%;
    }
    .skill-i {
        width: 110px;
        height: 130px;
    }
    .skill-i img {
        height: 70px;
        width: 70px;
    }
}

@media screen and (max-width: 768px) {
    .skill-section {
        max-width: 95%;
    }
    .skill-i {
        width: 100px;
        height: 120px;
    }
    .skill-i img {
        height: 60px;
        width: 60px;
    }
}

@media screen and (max-width: 480px) {
    .skill-section {
        max-width: 100%;
        gap: 15px;
    }
    .skill-i {
        width: 60px;
        height: 60px;
        justify-content: center;
        font-size: 14px;
    }
    .skill-i img {
        align-self: center;
        height: 40px;
        width: 30px;
        padding-top: 12px;
    }
}
