.large-header {
    position: relative;
    width: 100vw;
    background: black;
    background: #17041f;
   /* background: #2E073F; */
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 2;
}

.main-title,p,span {
    margin: 10px 0;
    color: #f9f1e9;
    text-align: center;
    font-size: 60px;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-title .thin {
    font-weight: 200;
    /* color: #00FFFF; */
    color: #AD49E1;
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
    .main-title,span,p {
        font-size: 40px;
    }
    .text-container {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .main-title,span,p {
        font-size: 30px;
    }
    .text-container {
        width: 90%;
    }
}
