.large-header {
	position: relative;
	width: 100%;
	background: black;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 2;
}

.main-title {
	margin: 10px 0;
	color: #f9f1e9;
	text-align: center;
	font-size: 60px;
}

.text-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.demo-1 .main-title {
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
	color: blue;
}

@media only screen and (max-width: 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}

  p,span{
    font-size: 45px;
  }


  
}

p {
	font-size: 50px;
}

span {
	color: blue;
}
