body{
    padding: 0px; 
    margin: 0px;
    background-color: black;
}

h1,ul{
    color: white;
}

#canvas{
    width: 100vw; 
    height: 100vh;
    position: fixed;
}

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.canvas-bg {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* display: none; */
}


/* .canvas-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
} */

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(183, 174, 174, 0);
  padding: 20px;
  border-radius: 10px;
  color: white;
  z-index: 2;
}

.overlay1 {
  position: absolute;
  height: 200px; /* Control the reveal size */
  width: 200px;
  transform: translate(-50%, -50%);
  background: none; /* Make sure the div itself is not visible */
  border-radius: 50%; /* Make the reveal circular */
  mix-blend-mode: destination-out; /* This will cut out the overlay from the background */
  z-index: 3;
  pointer-events: none; /* Ensure it doesn't interfere with cursor events */
}



p,ul{
    font-size: 74px;
}

span{
    color: #9C58EA;
}


#circle{
    padding: 2em;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: -502em;
    margin-left: -502em;
    background: transparent;  /* Show through the circle */
    -moz-border-radius: 504em;
    border-radius: 504em;
    border: 500em solid rgba(0,0,0,.6); /* Make a huge border to hide the rest */
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

#circle:hover{
    opacity: 1;
}

