.experience{
    width: 100vw;
    height: 100vh;
    margin: 0px; 
    padding: 0px;
    gap: 50px;
    background-color: #2E073F;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center; 
}

.experience h1{
    font-size: clamp(24px, 5vw, 32px);
}



/* experience card css */

.block{
    /* background-color: aqua; */
    width: 100vw; 
    height: 34vh;
    margin: 0px;
    display: flex; 
    flex-direction: row;
    align-self: center;
}

.left{
    /* background-color: beige; */
    height: 100%; 
    width: 100%;
}

.right{
    /* background-color: bisque; */
    height: 100%; 
    width: 100%;
    display: flex; 
    flex-direction: row;
    border-left: 2px solid #EBD3F8;
}

.margin-block{
    width: 20%;
    height: 100%;
    /* background-color: azure; */
    display: flex; 
    flex-direction: column;
}


.f{
    height: 100%; 
    width: 100%;
    /* background-color: aqua; */
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
    text-align: center;
    color: #EBD3F8;
    border-bottom: 2px solid #EBD3F8;
}


.s{
    height: 100%;
    width: 100%;
    /* background-color: blue;  */
}

.content-block{
    width: 100%;
    height: 100%;
    margin: 10px;
    background-color: #7A1CAC;
    border-radius: 15px;
    justify-content: center;
    align-self: center;
}


.content-block h1{
    text-align: start;
    margin-left: 15px;
    font-size: 32px;
    margin-bottom: 0px;
    color: #BDBDBD;
}


.content-block p{
    text-align: start;
    margin-left: 15px;
    font-size: 20px;
    color: #BDBDBD;
    display: flex; 
    justify-content: space-between;
}

.content-block span{
    font-size: 20px; 
    margin: 0px;
    padding: 0px;
    /* margin-left: 15px; */
    color: #BDBDBD;
    margin-right: 10px;
}

.key-responsibilities h3{
    color: #EBD3F8;;
    text-align: start;
    margin-left: 15px;
}

.key-responsibilities li{
    color: #EBD3F8;;
    text-align: start;
    margin-left: 15px;
}

.content-block div{
    justify-content: center;
    align-self: center;
}

.skills{
    display: flex; 
    flex-direction: row; 
    gap: 12px;
    justify-content: flex-start;
    align-self: flex-start;
}


.skills button{
    background-color: #2E073F;
    color: #EBD3F8;
    padding: 10px;
    border-radius: 12px; 
}   



