.experience{
    width: 100vw;
    height: 100vh;
    margin: 0px; 
    padding: 0px;
    background-color: #2E073F;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center; 
    background-color: #2E073F;
}

.experience h1{
    font-size: 32px;
}

