html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
  padding: 0px; 
  margin: 0px;
}

/* .content {
  padding-top: 60px; 
} */

section {
  height: 95vh; /* Each section takes full viewport height */
  padding: 0px;
  margin: 0px;
}
