html {
  scroll-behavior: smooth; 
  padding: 0px; 
  margin: 0px;
  width: 100%;
  height: 100%;
}
.app-container {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

section {
  min-height: 100vh; 
  height: auto;
  width: 100vw;
  overflow-x: hidden ;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#experience{
    width: 100vw;
    min-height: 100vh; 
    height: auto;
    margin: 0px; 
    padding: 0px;
    gap: 50px;
    background-color: #2E073F;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center; 
}

.experience h1{
    font-size: 32px;
}

